.edit-me

.clearfix.centered
  .left
    .notice
      %i CURRENT POST
      %br
      editable thanks to HTML5's contenteditable
      %br
      on 'blur', the Post on the right is updated
      %br
      synching of DOM objects and to the server via Backbone
    .m-post-wrapper
    .m-post-add
      %a{:href => '/posts'}
        + add post

  .right
    .notice
      %i ALL POSTS
      %br
      displays auto-updated Backbone views
