.clearfix.centered
  .left
    .notice
      %i CURRENT POST
      %br
      edits via HTML5's contenteditable, updated Backbone Post model on blur
  .right
    .notice
      %i ALL POSTS
      %br
      displays auto-updated backbone models
