.edit-me

.clearfix.centered
  .left
    .notice
      %i CURRENT POST
      %br
      editable thank to HTML5's contenteditable
      %br
      on blur the relevant Backbone Post isntance is updated (see right)
  .right
    .notice
      %i ALL POSTS
      %br
      displays auto-updated backbone models
