body
  background: #444

.m-main-headline
  color: #ddd
  width: 960px
  margin: 20px auto 0
  text-transform: uppercase

.m-main-content-wrapper
  width: 960px
  margin: 20px auto 0
  position: relative
  background: white
  +border-radius(10px)
  padding: 20px
  &.is-loaded
    opacity: 1

.clearfix
  +clearfix

.centered
  margin: 0 auto

.left
  width: 459px
  border-right: 1px solid grey
  float: left
  padding: 10px
  padding-top: 0

.right
  width: 480px
  float: right

.notice
  height: 75px
  border-bottom: 1px solid grey
  margin: 0 20px
  color: orange

[contenteditable]:hover
  outline: 1px dotted #ccc

.editable
  background: pink
  color: #555
