body
  background: #444

.m-main-content-wrapper
  width: 960px
  margin: 50px auto 0
  position: relative
  background: white
  +border-radius(10px)
  padding: 20px
  opacity: 0
  +transition(opacity 1.3s linear)
  &.is-loaded
    opacity: 1

.clearfix
  +clearfix

.centered
  margin: 0 auto

.left
  width: 479px
  border-right: 1px solid grey
  float: left

.right
  width: 480px
  float: right

.notice
  height: 75px
  border-bottom: 1px solid grey
  margin: 0 20px
  color: orange

[contenteditable]:hover
  outline: 1px dotted #ccc

.edit-me
  position: absolute
  background-image: url('edit_me.png')
  background-repeat: no-repeat
  background-position: center center
  width: 158px
  height: 149px
  left: -205px
  top: 137px
  background-color: #ddd
  +border-radius(10px)
  padding: 20px
  opacity: 0
  +transition(opacity 1.2s ease-in-out)
  &.is-loaded
    opacity: 1
